/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

html {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - unique
   #2 - body
   #3 - div
   #4 - h1
   #5 - html

   e.g. - .pika               */